/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  padding-bottom: 10rem;
}

body.dark{
/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

img{
  max-width: 100%;
  display: block;
}

h1{
  color: var(--title-color);
}

h2{
  color: var(--title-color);
}

h3{
  color: var(--title-color);
  font-size: 1rem;
}

a:-webkit-any-link{
  text-decoration: none;
  color: var(--title-color);
}

.navbar{
  padding: 0 1.5rem;
  height: 3.5rem;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
  z-index: 40;
}

.navbar.scrolled{
  background-color: var(--container-color);
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
}

.logo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper a{
  font-weight: bold;
  text-decoration: none;
  color: var(--title-color);
}

.logo-wrapper:-webkit-any-link{
  font-weight: bold;
}

.nav-logo{
  width: 50px;
  fill: var(--first-color);
}

.icon-wrapper{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-shop{
  position: relative;
}

.cart-counter{
  padding: 0.25rem;
  background-color: var(--title-color);
  color: var(--body-color);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -8px;
  right: -8px;
}

.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 3rem ;
}

.home-img{
  width: 258px;
  height: 430px;
  position: relative;
  background-color: var(--first-color);
}

.home-img img{
  position: absolute;
  bottom: 1.5rem;
}

.home-content{
padding: 0 1.5rem;
display: flex;
flex-direction: column;
gap: 1.5rem;
}

.prices{
  color: var(--first-color);
}

.home-btn{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.home-btn-disc{
  padding: 1rem 1.5rem;
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
  font-weight:500;
}

.home-btn-add{
  padding: 1.25rem 2rem;
  border: none;
  background-color: var(--button-color);
  font-weight: 700;
  color: #fff;
}

.products{
  padding: 3rem 1.5rem 0;
}

.products-tags{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.product-tag{
  display: block;
  width: 45%;
  padding: 0.5rem 0;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
}

.products-container{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.product-card{
  width: 200px;
  border-radius: 0.75rem;
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
}

.card-img{
  background-color: var(--card-color);
  border-radius: 0.75rem 0.75rem 0 0;
}

.card-data{
  padding: 1rem 0 1rem 1rem ;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card-data h2{
  font-size: 1.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.card-data span{
  font-size: 0.8rem;
}

.card-btn-add{
  position: absolute;
  right: 10px;
  top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--body-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.cart-container{
  background-color: rgba(109, 109, 109, 0.737);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: left 0.3s linear;
}

.cart-container.hide{
  left: -100%;
}

.cart{
  background-color: var(--container-color);
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -4px 5px 10px rgb(147, 147, 147);
  padding: 2.5rem 1.5rem 1rem 1.5rem;
}

.cart-close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
*/